.header {
  width: 100%;
  background-color: rgb(212, 255, 255);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #b7b4b6;
}

.header h2 {
  margin: 0;
}

.auth {
  cursor: pointer;
}
