.tabSwitcher {
  width: 100%;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.tabSwitcherItem,
.tabSwitcherItemActive {
  flex-grow: 1;
  text-align: center;
  cursor: pointer;
  padding: 5px;
}

.tabSwitcherItem {
  background-color: rgb(212, 255, 255);
}

.tabSwitcherItemActive {
  background-color: #b7b4b6;
}
